<%= layout("/layouts/boilerplate") %>
<div class="contact">
    <h3>Contact Us</h3>
    <main>
        <section class="contact-section">
            <br>
            <h5>We'd Love to Hear From You</h5>
            <p>If you have any questions, feedback, or if you're facing any issues related to our website, feel free to reach out to us directly at the email below.</p>
            <div class="contact-info">
                <p>Email: <a href="mailto:your-email@gmail.com"><%= mail %></a></p>
                <!-- You can replace "your-email@gmail.com" with your real email -->
            </div>
            <p>Alternatively, you can also reach us through our social media channels!</p>
        </section>
    </main>
    <footer>
        <p>&copy; 2025 Restify. All rights reserved.</p>
    </footer>
</div>
